
    {%extends 'header.html'%}
    {%block content%}
      <div class="container">
        <br>
        <center><h1><span id='title'>Create </span> Title</h1></center>
        <hr>
        <div style="color: red">
        {% if form.errors %}
            {% for error in form.errors.values %}
                {{error}}
            {% endfor %}
        {% endif %}
        </div>
        <div class="container" >
            <center>
                <form method="post" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button class="waves-effect waves-light btn" type="submit" id="submit">Create</button>
                </form>
            </center>	
        </div>


    <style type="text/css">
        input{
            width: 100%;
            text-align: center

        }
        label{
            padding-top: 10px;
            font-size: 20px
        }
    </style>

    <script type="text/javascript">
        document.getElementById('id_date').type = 'date';
    </script>
    <script>
        if ('edit' == window.location.pathname.split("/")[1]) {
            document.getElementById('title').innerHTML = 'Edit';            
            document.getElementById('submit').innerHTML = 'Save';
        }
    </script>
    <script type="text/javascript">
        document.querySelector('label[for=id_publish]').style.display = 'none';
        document.getElementById('id_end_date').type="date";
        $('#id_publish').attr('checked', true);
        document.getElementById('submit').innerHTML = 'Publish';        
        document.getElementById('title').innerHTML = 'Publish';
    </script>

</div>
    {%endblock%}
