
    {% extends 'header.html'%}
    {% block content %}
        <br><br>
        		<div style="color: red">
		{% if form.errors %}
			{% for error in form.errors.values %}
				{{error}}
			{% endfor %}
		{% endif %}
		</div>
        <div class='container'>
            <form method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" class="waves-effect waves-light btn-small " value="Confirm">
            </form>
        </div>
        <br><br><br>
        <br><br><br>
        <br><br><br>

    {% endblock %}
