
    {%extends 'header.html'%}

    {%block content%}

    <div class='container'>
                <div style="color: red">
        {% if form.errors %}
            {% for error in form.errors.values %}
                {{error}}
            {% endfor %}
        {% endif %}
        </div>
        <br>
            <h4 style="padding:7px;margin-right: 50px">{{object}} 
                <a href='{%url "Options-delete" object.id %}' class="waves-effect waves-light btn">
                Delete</a>
            </h4>
            <hr>
        <br>
    </div>

    {%endblock%}
